<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>501087942413-80m4s8mc9dj7qc301j7ragvnpbnqs7f0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.501087942413-80m4s8mc9dj7qc301j7ragvnpbnqs7f0</string>
	<key>API_KEY</key>
	<string>AIzaSyCS0VYkwZm1dC9EH6-b7cAzKj2zgIfPqs4</string>
	<key>GCM_SENDER_ID</key>
	<string>501087942413</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.atilsamancioglu.SnapchatClone</string>
	<key>PROJECT_ID</key>
	<string>snapchatclone-6474d</string>
	<key>STORAGE_BUCKET</key>
	<string>snapchatclone-6474d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:501087942413:ios:1ef70cc62a99ca3e</string>
	<key>DATABASE_URL</key>
	<string>https://snapchatclone-6474d.firebaseio.com</string>
</dict>
</plist>